.directory
*/.directory
*~
.idea/
warped-gan-space/
*.pyc
__pycache__/
*/__pycache__/
dev/.ipynb_checkpoints/
models/pretrained/

#experiments/*
#!experiments/latent_codes/

!experiments/
experiments/*
!experiments/latent_codes/
